/*---------------------------------------------------------------------------*
 * SF Mono
 *---------------------------------------------------------------------------*/

/** Light */
@font-face {
  font-family: 'SF Mono';
  font-weight: 200;
  src: url('/SFMono-Light.otf');
}

/***** reset *****/

html {
  background-color: #e94057;
  background-image: linear-gradient(-35deg, #8a2387 0%, #e94057 50%, #f27121 100%);
  box-sizing: border-box;
  font-size: 15px;

  @media screen and (max-width: 980px) {
    font-size: 13px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
a {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0;
  font-family: 'SF Mono', monospace;
  font-weight: 100;
  line-height: 1.3em;
  word-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: block;
  font-size: 0.9rem;
}

input, textarea {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  font-weight: 100;
  color: #fff;
  padding: 1.1em 0.5em;
}

input:focus, textarea:focus {
  outline-width: none;
  outline: none;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

table.list {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

table.list th {
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 1rem;
}

table.list tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

table.list td {
  padding: 1rem;
}

table.list td:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.centered {
  align-items: center;
  justify-content: center;
}

.flex {
  &.justify-center {
    justify-content: center;
  }
}

.info {
  @include x-small;
  color: #ffaaaa;
  min-height: 1.3em;
  line-height: 1.3em;
  white-space: pre-wrap;
}

.small {
  font-size: 0.9rem;
}

.x-small {
  font-size: 0.8rem;
}

.strong {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.info > .strong {
  color: #ffaaaa;
}

.space-bottom {
  margin-bottom: $spacing;
}

.space-right {
  margin-right: $spacing;
}

.space-left {
  margin-left: $spacing;
}

.space-top {
  margin-top: $spacing;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
}

.form .entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form .entry label {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.scroll {
  overflow: scroll;
}

::placeholder {
  color: #fff;
  opacity: 0.2;
}

.notification {
  border-radius: 2px;
  font-size: 0.8rem;
  opacity: 1;
  color: yellow;
}

.notification-button {
  border-radius: 0;
}

.content {
  * {
    color: black;
  }
}
